.Navbar_link {
    all: unset;
    text-decoration: none;
    outline: none;
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: color 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg {
        width: 20px;
        height: 20px;
    }
}

.Navbar_link:hover {
    color: var(--default-text);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .Navbar_link {
        font-size: 1rem;
    }
}