.button {
    width: auto;
    height: auto;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    gap: .5rem;
    border-radius: var(--radius);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}

.dark {
    background-color: #171717;
    color: #fff;
    transition: var(--transition);

    &:hover {
        background-color: #383838;
        color: #fff;
        transition: var(--transition);
    }
}

.light {
    background-color: #fff;
    color: #000;
    transition: var(--transition);

    &:hover {
        background-color: #f2f2f2;
        color: #000;
        transition: var(--transition);
    }
}

.primary {
    border: 1px solid #e4e4e7;
    color: #737373;
    transition: var(--transition);

    &:hover {
        background-color: #e8e8e8;
        color: #000;
        transition: var(--transition);
    }
}