.entrepriseLogo {
    width: 50px;
    height: auto;
}

.paragraphe {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.TechLogo {
    width: 1.2rem;
    height: auto;
}

.image {
    width: 100%;
    height: auto;
}