.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  height: auto;
  background-color: var(--background);
  background-image: url('../assets/dot.svg');

  .mainContainer {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      width: 25%;
      min-height: 90vh;
    }

    .container {
      width: 50%;
      min-height: 90vh;
      padding: 1rem;
    }

    .right {
      width: 25%;
      min-height: 90vh;
      padding: 1rem;
      display: flex;
      flex-direction: column;

      .contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .contactTitle {
          font-family: var(--font);
          font-size: 1.5rem;
          font-weight: 900;
        }
      }
    }
  }
}