.presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 2.5%;
    padding-right: 2.5%;

    .paragraphe {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        color: #000;
    }
}

.homeLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .homeButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
}