.Navbar_container {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--default-text);
    font-weight: 500;
    background-color: var(--background);
    transition: var(--transition);
    border-bottom: 2px solid #e9ebec;

    .Navbar_title {
        margin-left: 1rem;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        outline: none;
        border-bottom-right-radius: var(--radius);
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        z-index: 20;
        background: linear-gradient(to bottom, #e5e5e5, #737373);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .Navbar_links {
        width: auto;
        height: 100%;
        background-color: var(--background);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom-left-radius: var(--radius);
        margin: 0 1.5rem;
        gap: 1.5rem;
    }

    .Navbar_Menu {
        display: none;
    }
}

@media screen and (max-width: 512px) {
    .Navbar_container {
        top: .5rem;
        left: .5rem;
        padding: .5rem;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        box-shadow: var(--shadow);
        border-radius: var(--radius);

        .Navbar_links {
            flex-direction: column;
        }

        .Navbar_Menu {
            all: unset;
            cursor: pointer;
            display: block;

            .Navbar_Image {
                width: 24px;
                height: 24px;
            }
        }
    }
}