.closeButton {
    all: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
        background-color: #e8e8e8;
        transition: var(--transition);
    }
}