.Weeks {
    position: relative;
    width: auto;
    height: auto;

    .Week_menu {
        position: absolute;
        top: 100%;
        color: var(--default-text);
        width: 100%;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: var(--shadow);
        padding: 10px 0;
        border-radius: var(--radius);
    }
}