.CustomLink {
    font-size: 1rem;
    font-weight: bold;

    .CustomLinkLogo {
        width: 22px;
        height: auto;
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        .CustomLinkLogo {
            transform: rotate(360deg);
        }
    }
}